@import url('https://fonts.googleapis.com/css?family=Pacifico');

.App {
  text-align: left;
}

.App-header {
  background-color: #222;
  height: 75px;
  padding: 20px;
  color: white;
}

.App-title {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 3em;
  font-family: "Pacifico", cursive;
  font-weight: 400;
}

.App a {
  color: #f60;
}
